.badge{
	position: absolute;
	width: 24px;
	height: 24px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background: #0061af;
	border: 1px solid #fff;
	left: 27px;
	top: 3px;
	font-size: 10px;
	font-weight: bold;
	line-height: 17px;
	color: white;
	text-align: center;
	padding: 4px;
	&-blue{
		background: $blue;
	}
	&-green{  background: $green;  }
	&-yellow{  background: $yellow;  }
}