.content {
	padding-top: 2rem;
	h1{
		padding: 0 1rem;
		color: $text;
	}
	&-home{
		padding-top: 2rem;
		h1{color: $white}
	}
	&-map{
		padding-top: 0;
	}
	.home-left{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.home-right{
		display: flex;
		align-items: flex-end;
		img.img-responsive{
			display: flex;
			margin-top:auto;
		}
	}
}