.footer {
	display: flex;
	height: $footer-height;
	margin-top: -$footer-height;
	border-top: 1px solid $border-color;
	font-size: 1rem;
	&-container{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	&-nav{
		display: flex;
		flex-direction: row;
		li+li{
			margin-left: 1rem;
			&:before{
				content: '|';
				margin-right: 1rem;
			}
		}
	}
	a{
		color: $text;
		&:hover{
			text-decoration: none;
		}
	}
	&-home{
		color: $white;
		border-top: 1px solid $white;
		a{
			color: white;
		}
	}
}