.form{
	display: block;
	width: 100%;
	padding: 2rem 1rem;
	border-radius: $border-radius;
	margin-bottom: 1rem;
	&-home{
		background: $white;
	}
	&-input,
	input{
		display: block;
		width: 100%;
		padding: 1rem;
		border-radius: $border-radius;
		background: $input-bg;
		border: 1px solid transparent;
		margin-bottom: 1rem;
		font-size: 1.125rem;
		&:focus{
			border: 1px solid $blue;
		}
		&::-webkit-input-placeholder {color:#a3a6a8;}
		&::-moz-placeholder          {color:#a3a6a8;}/* Firefox 19+ */
		&:-moz-placeholder           {color:#a3a6a8;}/* Firefox 18- */
		&:-ms-input-placeholder      {color:#a3a6a8;}
		@include media-breakpoint-down(xs) {
			font-size: 1rem;
		}
	}
	&-textarea,
	textarea{
		display: block;
		width: 100%;
		padding: 1rem;
		color: $text;
		border-radius: $border-radius;
		background: $input-bg;
		border: 1px solid transparent;
		margin-bottom: 1rem;
		font-size: 1.125rem;
		line-height: 1.2;
		resize: none;
		text-align: left;
		@include media-breakpoint-down(xs) {
			font-size: 1rem;
		}
	}
	.btn{
		padding: 18px 36px;
		font-size: 1rem;
		font-family: "Nunito Bold";
		@include media-breakpoint-down(xs) {
			font-size: 1rem;
			padding: 18px 10px;
		}
	}
	@include media-breakpoint-down(sm){
		.btn{
			width: 100%;
		}
	}
}