.form{
	display: block;
	width: 100%;
	padding: 2rem 1rem;
	border-radius: $border-radius;
	margin-bottom: 1rem;
	&-home{
		background: $white;
	}
	&-input,
	input{
		display: block;
		width: 100%;
		padding: 1rem;
		border-radius: $border-radius;
		background: $input-bg;
		border: 1px solid transparent;
		margin-bottom: 1rem;
		font-size: 1.125rem;
		&[placeholder]{
			font-size: 1.125rem;
		}
		&:focus{
			border: 1px solid $blue;
		}
	}
}