.header{
	display: flex;
	flex-direction: row;
	height: $header-height;
	> .container{
		display: block;
		padding-top: 25px;
	}
	&-nav{
		height: 100%;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		position: relative;
		.btn{
			margin-bottom: 0;
			display: inline-flex;
			align-self: center;
			justify-content: center;
		}
	}
}