.places{
	margin-top: -2rem;
	margin-bottom: 2rem;
	width: 100%;
	&-title{
		margin-bottom: 0;
		font-size: 2.125rem;
		@include media-breakpoint-down(xs) {
			margin-bottom: 1rem;
			color: $grey-dark;
		}
	}
	&-card{
		border-radius: $border-radius;
		background-color: $white;
		padding: 2rem 1rem 1rem;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		&__blue{
			background-color: $blue;
			color: $white;
			.places-title{
				color: $white;
			}
			.btn{
				display: inline-block;
				width: fit-content;
			}
		}
		&__blue-l{
			color: $white;
			background-color: #57c3f1;
			.places-title{
				color: $white;
			}
			.btn{
				display: inline-table;
				width: fit-content;
				color: $blue;
				padding: 20px 40px;
				&:hover,
				&:focus{
					color: $white;
				}
			}
		}
		&__map{
			background-image: url("../img/map-icon.png");
			background-repeat: no-repeat;
			background-position: bottom 1rem right 1rem;
			background-size: inherit;
			padding-bottom: 6rem;
		}
	}
	&-card__header{
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 1rem;
		@include media-breakpoint-down(xs) {
			flex-direction: column;
		}
	}
	&-card__body{
		display: flex;
		width: 100%;
		min-height: 3rem;
		flex-direction: column;
		.btn{
			display: inline-table;
			width: fit-content;
			@include media-breakpoint-down(xs) {
				display: block;
				width: 100%;
			}
		}
	}
	&-card-descr{
		font-size: 1.25rem;
		line-height: 1.875rem;
	}
	&-tabs{
		display: flex;
		flex-direction: row;
		border-radius: 2rem;
		background: $input-bg;
		padding: 1rem;
		margin-bottom: 1rem;
		li+li{
			margin-left: 1rem;
			position: relative;
			&:before{
				display: block;
				content: "";
				width: 1px;
				height: 2rem;
				position: absolute;
				background: #6e7173;
				left: -.5rem;
				top: -.4rem;
				opacity: .4;
			}
		}
		a{
			padding: 1rem;
			color: $text;
			font-weight: normal;
			font-size: 1rem;
			&:hover,
			&:focus{
				color: $blue;
				text-decoration: none;
			}
		}
		li.active{
			a{
				color: $blue;
			}
		}
		@include media-breakpoint-down(xs) {
			margin: 0 auto 1rem;
			width: 100%;
			justify-content: center;
		}
	}
	&-list{
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	&-item{
		//display: flex;
		//flex-direction: row;
		//align-items: center;
		width: 100%;
		border-bottom: 1px solid $border-color ;
		padding: .75rem 0;
		//flex: 1;
		//flex-wrap: nowrap;
		position: relative;
		display: block;
	}
	&-item:last-child{
		border-bottom: 0;
	}
	&-item-img{
		position: absolute;
		left: 0;
		top: 1rem;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		overflow: hidden;
		margin-right: 1rem;
		img{
			display: block;
			width: 100%;
		}
	}
	&-descr{
		display: block;
		padding-left: 65px;
		padding-right: 40px;
		width: 100%;
	}
	&-item-close{
		display: block;
		color: $text;
		width: 25px;
		height: 25px;
		position: absolute;
		right: 0;
		top: 1.5rem;
		overflow: hidden;
		background: transparent;
		border: none;

		&.active{
			cursor: pointer;
			text-decoration: none;
			outline: none;
			&:before{
				width: 23px;
				position: absolute;
				height: 25px;
				font-size: 25px;
				left: 1px;
				top: 0;
				color: $text;
				background: transparent;
				content: "\f014";
				font-family: FontAwesome;
				background: none;
				-webkit-transform: rotate(0);
				-ms-transform: rotate(0);
				transform: rotate(0);
			}
			&:after{
				display: none;
			}
			&:hover:before{
				color: #04a0d9;
				background: transparent;
			}
		}
		&:before,
		&:after{
			content: "";
			position: absolute;
			left: 0;
			top: 50%;
			margin-top: -1px;
			width: 24px;
			height: 2px;
			background: $text;
		}
		&:hover{
			cursor: pointer;
			background: transparent;
			color: #04a0d9;
			&:before,
			&:after{
				background: #04a0d9;
			}
		}
		&:before{transform: rotate(45deg);  }
		&:after{transform: rotate(-45deg);  }
		&:focus{
			outline: none;
		}
	}
	&-item-remove {
		display: block;
		color: $text;
		width: 25px;
		height: 25px;
		position: relative;
		overflow: hidden;
		&:before{
			position: absolute;
			content: "\f014";
			font-family: FontAwesome;
			font-size: 25px;
		}
		&:hover,
		&:focus{
			color: $blue;
			text-decoration: none;
			cursor: pointer;
		}
	}
	&-town {
		font-weight: bold;
		color: $grey-dark;
		font-size: 1.3125rem;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		width: 100%;
	}
	&-country{
		font-size: 1rem;
		margin-bottom: 0;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		width: 100%;
	}
	.row-cards{
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-self: center;
		margin-right: 0;
		margin-left: 0;
		.places-card{
			width: 50%;
		}
		// ≥768px
		@include media-breakpoint-down(sm) {
			flex-wrap: wrap;
			box-shadow: none;
			.places-card{
				margin-bottom: 2rem;
				box-shadow: $box-shadow;
				width: 100%;
			}
		}
		@include media-breakpoint-down(xs) {
			.places-card .btn{
				width: 100%;
			}
		}
	}
}
