@import "vars";
@import "fonts";
@import "libs";

html,
body {
	height: 100%;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.2;
	font-family: $default-font;
	overflow-x: hidden;
	height: 100%;
	color: $text;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

ul,li{
	list-style: none;
	padding: 0;
	margin: 0;
}

* {
	box-sizing: border-box;
}

h1{
	font-size: 3.125rem;
	font-weight: bold;
	@include media-breakpoint-down(lg){
		font-size: 2.5rem;
	}
	@include media-breakpoint-down(md){
		font-size: 2.375rem;
		margin-bottom: 1rem;
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {  text-align: center;  }

.wrap {
	min-height: 100%;
	background: $white;
	&-home{
		background: #65c9f3 url("../img/home-bg.jpg") no-repeat center bottom;
		background-size: cover;
	}
	&-login{
		.logo{
			padding: 0 1rem;
		}
	}
}
.bg-facebook {background-color: $facebook-color !important; }
.bg-twitter  {background-color: $twitter-color !important;  }
.bg-linkedin {background-color: $linkedin-color !important; }


.b-shadow{
	border-radius: $border-radius;
	box-shadow: $box-shadow;
}
.border-radius-l-0{
	border-left-top-radius: 0 !important;
	border-left-bottom-radius: 0 !important;
}
.bg-green{background: $green;}
.bg-yellow{background: $yellow;}
.bg-blue{background: $blue;}
.bg-blue-light{background: $blue-light;}
.bg-blue-dark{background: $blue-dark;}
main {
	padding-bottom: $footer-height;
	/*footer heifght*/
}
b, strong {
	font-weight: bold;
}


@import "header";
@import "sidebar-nav";
@import "logo";
@import "buttons";
@import "content";
@import "map";
@import "places";
@import "addnew";
@import "progress";
@import "form";
@import "socials";
@import "badge";
@import "myroutes";
@import "footer";
@import "media"; // Always at the end
